<main class="l_main">
  <article class="article">
    <!-- ===== 你的科研主页模块 ===== -->
    <%- partial('_partials/cv-head') %>
    <%- partial('_partials/cv-news') %>
    <%- partial('_partials/cv-pubs') %>
    <!-- ========================== -->
  </article>
</main>